@import '../vendor/mina-regular/stylesheet.css';
@import '../vendor/mina-bold/stylesheet.css';

body{
    font-family: 'minaregular';
}
.buffer-bold li a{
    font-family: 'minabold';
}
.comp-background{
    background-color: #19AA98;
}

footer{
    background-color: #212331;
}
.action-btn-outline{
    border: 2px solid #19AA98;
    border-radius: 8%;
}