.comp-color{
    color: #19AA98;
}

.comp-background{
    background-color: #19AA98;
}

.thead-comp-color{
    background-color: #19AA98;
    color: white;
}
.pagination{
    justify-content: center;
}