@import 'vendor/mina-regular/stylesheet.css';
@import 'vendor/mina-bold/stylesheet.css';

body{
    font-family: 'minaregular';
}
.buffer-bold li a{
    font-family: 'minabold';
    color: white
}
.comp_bold{
    font-family: 'minabold';
    font-weight: 700;
}
.comp-background{
    background-color: #19AA98;
}
.comp-background{
    color: #19AA98;
}

footer{
    background-color: #212331;
}
.footer-text-color{
    color: #bab5df
}
.footer-list li{
    margin-bottom: .25rem;
}
.footer-anchor li a{
    color: #bab5df;
    
}
.footer-anchor-media li a{
    background: transparent;
    border: 1px solid #6e679b;
    font-size: 11px;
}

.action-btn-outline{
    border: 2px solid #19AA98;
    border-radius: 8px;
}

.buffer-navbar{
    position: absolute;
    width:100%;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: background 500ms linear;
}
#navlogo{
    display:none
}
.main-section{
    display: none;
}
.loader-hide{
    display: none;
}
.main-section-show{
    display: none;
}
.loader-section{
    min-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: white;
}
#buffer-spinner{
    position: fixed;
    top: 45%;
    left: 45%;
}

#spinner-img{
    animation: spin 500ms infinite;
}

#solutions-up{
    display: none;
}
#solutions-dropdown{
    display: none;
    position: absolute;
    z-index: 9;
    top: 56px;
    background-color: #1d2124c9;
    color: white;
    width: 100%;
    left: 0;
}

#solution-toggle:hover #solutions-dropdown{
    display: block;
}
#solution-toggle a i:hover{
    display: block;
}
.submenu li{
    margin-bottom: 10px;
}

.submenu li a{
}
.submenu li a:hover{
    text-decoration: none;
}


.welcome-banner{
    position: relative;
    background-image: url(../images/slider/header3.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.our-solutions{
    position: relative;
    background: linear-gradient(to top, #FDFFFD, #F5FFF5, rgba(202, 245, 202, 0.3));
    padding: 120px 0 45px 0;
}
#curve path {
    fill: #fff;
}
#curve {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
.section-description h3{
    position: relative;
    margin-bottom: 3rem;
}
.section-description h3:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    background-color: #66E9AE;
    height: 5px;
    width: 70px;
}
.portfolio{
    padding: 120px 0;
    background: linear-gradient(to bottom, #FDFFFD, #F5FFF5A8, #a3f2a324);
    border-bottom-left-radius: 73% 40%;
    border-bottom-right-radius: 50% 20%;
}
.client{
    padding: 70px;
    background-color: #fff;
}

.portfolio-pages{
    padding: 120px 0;
    width: 100%;
    height: inherit;
}

.portfolio-image {
    position: relative;
}
.scrollup-hide {
    display: none;
    transition: display ease 3s;
}

.scrollup {
    background-color:#188b79;
    position: fixed;
    right: 7px;
    bottom: 15%;
    border-radius: 50%;
    transform: rotateX(35deg);
    z-index: 2111111;
    display: inline-block;
     
}

.client-section{
    width: inherit;
}
.client-section img{
    width: inherit;
}

.head-static{
    position: sticky;
    top:0;
    background: white;
    color: #19AA98;
}
.single-portfolio{
    width: 315px;
    height: 410px   
}

.single-portfolio img{
    transition: display 2s ease-in;
}
.single-portfolio img:hover{
    display: none; 
}
.portfolio-des{
    position: absolute;
    width: 315px;
    height: 100%;
}

.active{
    transition: width 1s ease-in;
}

.active::before{
    position: absolute;
    content: '';
    left: 5;
    bottom: -15px;
    background-color: #66E9AE;
    height: 2px;
    width: 70px;
    top:20px
}

.banner-body{
    position: absolute;
    top: 180px;
    width: 100%;
}

.action-btn{
    position: absolute;
    top: 280px;
}

.action-btn button{
    border-radius: 50px;
}

.action-btn #quote{
    border:2px solid #66E9AE;
}

.banner-slide-item{
    position: absolute;
    width: 100%;
    display: none;
}

.banner-img-active{
    display: block;
}


.banner-slide-content{
    position: absolute;
    display: none;
}
.banner-content-active{
    display: block;
}

.aboutus-section{
    padding: 120px 0 45px 0;
}

.aboutus-core-section{
    background: linear-gradient(to top, #FDFFFD, #F5FFF5, rgba(202, 245, 202, 0.3));
    padding: 120px 0 45px 0;
}

.portfolio-content{
    position: absolute;
    width: 100%;
    height: initial;
    top: 0;
    height: 311.84px;
}
.portfolio-img{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 311.84px;
}

.scrollup-hide a{
    display: block;
    width: 35px;
    text-align: center;
    height: 42px;
}


@keyframes spin{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}